
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
.container{
	display:flex;
	min-width: 620px;
}
.nav-left{
	min-width: 50px;
	background: #001529;
	height: calc(100vh);
	overflow: auto;
}
.nav-left::-webkit-scrollbar {
	display: none;
}
.main{
	flex:1;
	height: calc(100vh);
	background: #eee;
	overflow: auto;
	/*min-width: 620px;*/
}

/*.content{*/
/*	position: relative;*/
/*	background: #fff;*/
/*	flex:1;*/
/*    min-height:calc(75vh);*/
/*}*/
.login{
	position: relative;
	height:calc(100vh);
	background: #001529
}
.login form{
	background: #fff;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding:30px 20px;
	border-radius: 5px
}
.buttonDiv{
    background: #fff;
    padding:15px 10px 10px;
}
.hoverbig:hover{
    -ms-transform:scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2); /* 标准语法 */
    transition: all .5s;
    z-index: 99;
}
.fr{
    position: relative;
    top:-4px;
    float: right;
}
.fr button{
	margin-right: 5px;
}
.hoverable:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,.09);
    border-color: rgba(0,0,0,.09);
}
.hovercard{
	box-shadow: 4px 4px 10px rgba(0,0,0,.09);
	border-color: rgba(0,0,0,.09);
	border-radius: 4px;
}